body{
    background-color: rgb(182, 238, 144);
}
p{
    width: 20em;
}
label{
    display: inline-block;
    color: blue;
}
legend{
    color:purple;
    background-color: rgb(255, 188, 202);
    width: 15em;
}
input{
    margin: 2em;
}
fieldset{
    width: 30em;
    background-color: rgb(230, 255, 171);
}