td{
    border: 1px solid green;
    text-align: center;
}
table{
    border: 2px solid blue;
    border-spacing: 0px;
    width:19em;
    

}
.table{
    box-shadow: 5px 5px black;
}
.thead{
    color: violet;
    border-bottom: 1px solid green;
    text-align: center;
}
.nestedhead{
    color: red;
}
.nestedfoot{
    color: blue;
}
.tfoot{
    color: yellow;
}
.td{
    padding: 2em;
    width:10em;
}
body{
    background-color: rgb(220, 255, 185);
}
.nestedtable{
    margin-top: 10em;
    margin-bottom: 10em;
    margin-left: 1em;
    margin-right:1em;
}
.th{
    border-left: 1px solid lightgreen;
    border-right: 1px solid lightgreen;
}