td{
    border: 1px solid green;
    text-align: center;
}
table{
    border: 2px solid blue;
    border-spacing: 0px;

}
.table{
    box-shadow: 5px 5px black;
    height:20em;
    width:20em;
}
.thead{
    color: violet;
    border-right:2px solid lightgreen;
    border-left: 2px solid lightgreen;
    border-bottom: 1px solid green;
    text-align: center;
}
.nestedhead{
    color: red;
}
.nestedfoot{
    color: blue;
}
.tfoot{
    color: yellow;
}
.td{
    padding: 2em;

    
}
body{
    background-color: rgb(220, 255, 185);
}
.nestedtable{
    margin-top: 5em;
    margin-left: 2em ;
    margin-right:2em ;
    height: 15em;
    width:10em;
}