table{
    border: 2px solid blue;
    box-shadow: 5px 5px black;
    border-spacing:0px;
    width:20em;
    height:10em;
}
caption{
    caption-side: top;
    font-family: 'Courier New', Courier, monospace;
}
td{
    border: 1px solid green;
      text-align:center;
}
th{
    border-right:1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid green;
    text-align: center;
    padding-bottom: 0.5em;
    }
tfoot{
        color: blue;
    }
thead{
        color: red;
    }
    body{
        background-color: lightgreen;
    }

