body{
    background-color: rgb(11, 151, 11);
}
a{
    font-size: 5em;
    font-family: 'Courier New', Courier, monospace;
    height:1em;
    width:1em;
    background-color: grey;
    text-align: center;
    border: solid;
    border-radius: 10px;
}
.first{
    border-left-style: ridge;
    border-color: red;
}
.second{
    border-left-style: ridge;
    border-color: yellow;
}
.third{
    border-left-style: ridge;
    border-color: blue;
}
.fourth{
    border-left-style: ridge;
    border-color: green;
}
a:hover{
    background-color: rgb(90, 90, 90);
}