body{
    background-color: rgb(250, 250, 142);
}
div{
    width:10em;
    background-color: rgb(255, 230, 0);
    float: left;
    height:170em;
    padding: 5px;
    margin: 10px;
    box-shadow: 5 5 5 black;
}
a{
    font-size: 1em;
    margin: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    border: 2px solid orange;
    border-radius: 10px;
    margin-left: 5px;
    margin-left: 5px;
    }
a:hover{
    background-color: black;
}