body{
    background-color: rgb(255, 240, 192);
}
div{
    width:10em;
    background-color: rgb(255, 224, 140);
    float: left;
    height:17em;
    padding: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px black;
}
a{
    font-size: 1em;
    margin: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    border: 1px solid orange;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    padding: auto;
    text-align: center;
    width: 15px
    }
a:hover{
    background-color: black;
}