@font-face  {
        font-family:myRistretto;
        src: url(Ristretto.otf); 
        font-family: Mayestica;
        src: url(Mayestica.otf)
            }

body{
background-color: rgb(191, 255, 175);
}
div{
background-image: linear-gradient(to top, rgb(9, 255, 0),rgb(191, 255, 175));
box-shadow: 5px 5px black;
margin: 2em;
padding: 1em;
width: 15em;

}
.first{
font-family: myRistretto, sans-serif;
}
.second{
font-family: Mayestica, sans-serif;
}
