body{
    background-color: lightgreen;
}
div{
    box-shadow: 5px 5px black;
    margin:5px;
    float: left;
}
figcaption{
    padding-left: 5px;
    padding-right: 5px;
}
#f{
    border: 2px solid red;
}
#s{
    border: 2px solid green;
}
#t{
    border: 2px solid blue;
}